body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.job-box {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.job-Listener_connection_alive {
    background-color: #4CAF50; /* Green */
}

.job-Connection_to_IS_died {
    background-color: #f44336; /* Red */
}

.job-Starting_listener_connection {
    background-color: #FFFF00; /* Yellow */
}

.job-Not_Running {
    background-color: #808080; /* Grey */
}

.context-menu {
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.context-menu div {
    padding: 10px;
    cursor: pointer;
}

.context-menu div:hover {
    background-color: #f5f5f5;
}
